@model Department
@{
    ViewData["Title"] = "Add Department";
}

<h1>Add Department</h1>
<form action="/department/create" method="post">
    <label asp-for="DeptId">ID</label> <input asp-for="DeptId" class="form-control" /><br />
    <label asp-for="DeptName">Name</label> <input asp-for="DeptName" class="form-control" /><br />

    <label asp-for="Capacity">Capacity</label> <input asp-for="Capacity" class="form-control" /><br />
    <input type="submit" value="Add" class="btn btn-success " /><br />


</form>

