@model Department
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h1 class="alert alert-danger">
    Department ID: @Model.DeptId <br/>
    Department Name: @Model.DeptName <br/>
    Department Capacity: @Model.Capacity <br />
</h1>